.sp_big_banner .opacity_0 {
    opacity: 0;
}
.sp_big_banner .opacity_1 {
    opacity: .1;
}
.sp_big_banner .opacity_2 {
    opacity: .2;
}
.sp_big_banner .opacity_3 {
    opacity: .3;
}
.sp_big_banner .opacity_4 {
    opacity: .4;
}
.sp_big_banner .opacity_5 {
    opacity: .5;
}
.sp_big_banner .opacity_6 {
    opacity: .6;
}
.sp_big_banner .opacity_7 {
    opacity: .7;
}
.sp_big_banner .opacity_8 {
    opacity: .8;
}
.sp_big_banner .opacity_9 {
    opacity: .9;
}
.sp_big_banner .opacity_10 {
    opacity: 1;
}
