// $font-family: 'Poppins', sans-serif;
// $color-primary: #c72c9e;
$border-color: #eee;
$color-text: #777;
$color-white: #fff;
$carousel-indicator-color: #e4e628;
$color-red: #ff0000;
$color-price: #888;
$color-black: #212529;
$color-secondary: #333;

$color-light-grey: #555555;
$color-trans-light-grey: transparentize(#454545, .9);
$box-shadow-1: rgba(0,0,0,.11);
$color-heading: $color-light-grey;
$product-bg-color: #F6F6F6;

$break-extra-small: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1024px;
$break-extra-large: 1280px;
