.o_footer {
    border-top: 1px solid $border-color;
    background-color: $color-white !important;
}
#footer {
    ul li a, h5 {
        display: block;
        transition: transform .4s;
        &:hover {
            color: #ddd;
            transform: translateX(10px);
        }
    }
    section {
        background-color: #222;
        .container {
            .row {
                margin: 0;
                h5 {
                    font-size: 16px;
                    padding-bottom: 20px;
                    color: #bbb;
                }
                ul {
                    line-height: 22px;
                }
                & > div {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                .sp-footer-social-icons {
                    display: flex;
                    flex-flow: column;
                    flex: 0 0 20%;
                    max-width: 20%;
                    border-left: 1px solid $border-color;
                    padding: 0 20px;
                    h5 {
                        display: inline-block;
                    }
                    h5:first-of-type {
                        padding-right: 6px;
                    }
                    & > div {
                        padding: 0.0625rem 0.3125rem;
                        display: flex;
                    }
                    .social_icons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        a {
                            color: $color-text;
                        }
                    }
                }
                .sp-home-categ {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                #connect {
                    flex: 0 0 30%;
                    max-width: 30%;
                    ul {
                        li {
                            color: $color-text;
                        }
                    }
                }
                #sp-products-services {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                #sp-about-us {
                    flex: 0 0 30%;
                    max-width: 30%;
                }
            }
        }
    }
    @include respond-to(small) {
        .container {
            .row {
                text-align: center;
                & > * {
                    flex: 100% !important;
                    max-width: 100% !important;
                }
            }
        }
    }
}
