#wrapwrap {
    header {
        nav {
            display: flex !important;
            flex-flow: column !important;
            & > .container {
                order: 10;
                justify-content: space-between;
                & > .sp-search-link {
                    display: none;
                }
                address {
                    order: 1;
                    color: $color-black;
                    margin-bottom: 0;
                    flex: 0 0 40%;
                    div[itemprop='address'] {
                        & > div {
                            display: flex;
                            align-items: center;
                            flex-wrap: nowrap;
                            i {
                                font-size: 30px;
                            }
                        }
                    }
                }
                & > a {
                    order: 5;
                    // flex: 0 0 20%;
                    text-align: center;
                    margin-right: 0;
                }
                .logo {
                    padding: 20px 0;
                    flex: 0 0 20%;
                }
                #top_menu_collapse {
                    order: 10;
                    padding: 20px 0;
                    flex: 0 0 40%;
                    flex-grow: unset;
                    #top_menu {
                        .o_wsale_my_cart {
                            & > div {
                                display: none;
                            }
                            a:not(.sp-cart-link) {
                                display: none;
                            }
                            .sp-cart-link {
                                i {
                                    font-size: 22px;
                                    color: $color-primary;
                                }
                                .my_cart_quantity {
                                    margin-right: 4px;
                                    margin-right: 4px;
                                    background-color: $color-primary;
                                    color: white;
                                }
                                img {
                                    float: unset;
                                }
                            }
                        }
                        .o_wsale_my_wish {
                            img {
                                float: unset;
                            }
                        }
                        .sp-setting-link {
                            display: none;
                            i {
                                &:after {
                                    display: none;
                                }
                            }
                            .dropdown-menu {
                                padding: 8px 20px;
                                &>ul {
                                    padding: 0;
                                    list-style-type: none;
                                    &>li {
                                        padding: 4px 0;
                                        span {
                                            font-weight: bold;
                                            color: $color-text;
                                        }
                                        ul {
                                            li {
                                                display: block;
                                                a {
                                                    padding-left: 0;
                                                    padding-right: 0;
                                                    color: unset;
                                                }
                                                span {
                                                    font-weight: normal;
                                                }
                                                &:hover, &:active, &:focus {
                                                    background-color: #eee;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover {
                                .dropdown-menu {
                                    display: block;
                                }
                            }
                        }
                        .sp-user-link {
                            display: none !important;
                        }
                    }
                }
            }
            #sp_sub_header {
                order: 2;
                width: 100%;
                background-color: $color-white;
                border: 1px solid $border-color;
                .css_non_editable_mode_hidden {
                    display: none !important;
                }
                .header_2 {
                    display: flex;
                    & > * {
                        border-right: 1px solid $border-color;
                        padding: 10px 0;
                    }
                    & > :nth-child(1) {
                        border-left: 1px solid $border-color;
                    }
                    .dropdown {
                        display: flex;
                        .btn {
                            color: $color-text;
                            background-color: $color-white;
                            border: unset;
                            &:after {
                                vertical-align: middle;
                            }
                            &:hover, &:active, &:focus {
                                box-shadow: unset;
                            }
                        }

                    }
                    .lang, .cur {
                        justify-content: center;
                        .btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 12px;
                        }
                        a {
                            font-size: 12px;
                        }
                    }
                    .lang {
                        flex: 0 0 10%;
                    }
                    .cur {
                        flex: 0 0 10%;
                    }
                    .sp-search-link {
                        flex: 0 1 55%;
                        form {
                            width: 100%;
                            height: 100%;
                            .input-group {
                                height: 100%;
                                .oe_search_box {
                                    border-radius: unset;
                                    border: unset;
                                    height: 100%;
                                    font-size: 12px;
                                    &:hover, &:active, &:focus {
                                        box-shadow: unset;
                                    }
                                }
                                .oe_search_button {
                                    border-radius: unset;
                                    background-color: unset;
                                    color: $color-text;
                                    border: unset;
                                    &:hover, &:active, &:focus {
                                        box-shadow: unset;
                                    }
                                }
                            }
                        }
                    }
                    address {
                        flex: 1 0 15%;
                        margin-bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        div[itemprop='address'] {
                            & > div {
                                display: flex;
                                align-items: center;
                                flex-wrap: nowrap;
                                i, span {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .account {
                        flex: 0 0 10%;
                        margin-bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button {
                            color: $color-text;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 16px;
                            padding: 9px;
                            &:after {
                                content: '';
                                border: unset;
                            }
                        }
                        .sign-in-out {
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 100%;
                            font-size: 11px;
                            a {
                                font-size: 12px;
                                font-weight: bold;
                            }

                        }
                    }
                    i {
                        font-size: 18px;
                    }
                }
                .shopoint_social_icons {
                    display: none;
                }
            }
            #sp_top_menu {
                order: 20;
                width: 100%;
                background-color: $color-primary;
                #top_menu {
                    display: flex;
                    justify-content: center;
                    & > li {
                        // padding: 10px 0;
                        margin: 0 2px;
                        & > a {
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
    @include respond-to(medium) {
        nav.navbar {
            #sp_sub_header {
                .header_2 {
                    address {
                        display: none;
                    }
                    .sp-search-link {
                        flex: 0 0 70%;
                    }
                }
            }
        }
    }
    @include respond-to(small) {
        nav.navbar {
            #sp_sub_header {
                .header_2 {
                    padding: 0;
                    flex-wrap: wrap;
                    & > address {
                        display: none;
                    }
                    .lang, .cur {
                        flex: 40%;
                    }
                    .lang {
                        order: 5;
                    }
                    .cur {
                        order: 10;
                    }
                    .account {
                        order: 15;
                        flex: 20%;
                        .dropdown-menu {
                            right: 0;
                            left: unset;
                        }
                    }
                    .sp-search-link {
                        order: 20;
                        flex: 0 0 100%;
                        border-top: 1px solid $border-color;
                    }
                }
            }
            & > .container {
                & > address {
                    display: none;
                }
            }
        }
    }
}
